<%- include('partials/header') -%>
<%- include('partials/navbarlogout') -%>
<div class="container mt-3 mb-5">
	<div class="row">
        <div class="col-md-6">
            <div class="card card-custom">
                <div class="card-body text-light">
                    <h3 class="card-title">Account status</h3>
                    <p class="card-text">
                        <h5>
                            Username: <small><%= username %><br></small>
                            Expiration date: <small><%= expirationDate %><br></small>
                            Trial used: <small><%= trialUsed %><br></small>
                        </h5>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-custom">
                <div class="card-body text-light">
                    <h3 class="card-title text-primary">Pay via TransferWise</h3>
                    <p class="card-text">
                        <h5>
                            Name: <small>abdullah akçam<br></small>
                            Bank code (SWIFT/BIC): <small>TRWIBEB1XXX<br></small>
                            IBAN: <small>BE14 9671 1319 1383<br></small>
                            ADDRESS: <small>TransferWise Europe SA
                                Avenue Marnix 13-17
                                Brussels
                                1000
                                Belgium<br></small>
                        </h5>
                    </p>
                </div>
            </div>
        </div>
	</div>
</div>
<%- include('partials/footer') -%>
